*
!/.gitignore

################################################################
# GITHUB
################################################################

!/.github
!/.github/workflows
!/.github/**/*.yml

################################################################
# MAIN FOLDER
################################################################

!/.env
!/README.md
!/LONGREADME.md
!/ISSUES.md
!/LICENSE
!/requirements

!/scripts
!/scripts/*.sh

!/install
!/install/installphpytex
!/install/README.md

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**/
!/src/setup/templates/template_*
!/src/setup/VERSION
!/src/**/*.lark
!/src/**/*.py

!/tests
!/tests/unit
!/tests/unit/**
!/tests/cases
!/tests/cases/case*
!/tests/cases/case*/**/
!/tests/cases/setup
!/tests/unit
!/tests/**/*.py
!/tests/**/*.tex
!/tests/**/*.yml

!/examples

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/logs

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.DS_Store
/**/__archive__*
/**/sandbox

################################################################
# Git Keep
################################################################

!/**/.gitkeep
