*

## files at root level:
!.gitignore
!README.md
# needed for project
!.lib.sh
!build.sh
!test.sh
!localpython.sh
# setup files for programme
!setup.yml
# needed for pyinstaller
!LICENSE
!MANIFEST.in
!setup.py

## project structure
# SRC:
!src
!src/**
src/**/__pycache__
# TEST:
!test
!test/**
test/**/__pycache__
!test/logs
test/logs/**/*
# DIST:
!dist
dist/**/*
!dist/VERSION

## allow preservation of non-empty folders:
!**/.gitkeep