*
!/.gitignore

################################################################
# GITHUB
################################################################

!/.github
!/.github/workflows
!/.github/**/*.yml

################################################################
# MAIN FOLDER
################################################################

!/.env
!/README.md
!/LONGREADME.md
!/ISSUES.md
!/LICENSE

!/scripts
!/scripts/*.sh
!/scripts/REQUIREMENTS_*

!/install
!/install/installphpytex
!/install/README.md

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**/
!/src/setup/templates/template_*
!/src/**/*.lark
!/src/**/*.py
!/src/**/VERSION

!/src-go
!/src-go/**/
!/src-go/**/*.go
!/src-go/go.mod
!/src-go/go.sum

!/test
!/test/unit
!/test/unit/**
!/test/cases
!/test/cases/case*
!/test/cases/case*/**/
!/test/cases/setup
!/test/unit
!/test/**/*.py
!/test/**/*.tex
!/test/**/*.yml

!/examples

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/logs

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.DS_Store
/**/__archive__*
/**/sandbox

################################################################
# Git Keep
################################################################

!/**/.gitkeep
