pip>=22.3
wheel>=0.38.4

# testing
coverage[toml]>=6.5.0
pytest>=7.2.0
pytest-cov>=3.0.0
pytest-lazy-fixture>=0.6.3
pytest-order>=1.0.1
testfixtures>=6.18.5

# system
pathlib>=1.0.1

# config
argparse>=1.4.0
lazy-load>=0.8.2
pyyaml>=6.0
dataclasses>=0.6
pydantic>=1.10.2
datamodel-code-generator>=0.14.0
openapi-generator-cli>=4.3.1

# misc
pathlib>=1.0.1
datetime>=4.7
pendulum>=2.1.2
lorem>=0.1.1
safetywrap>=1.5.0
typing>=3.7.4.3

# parsing
lark>=1.1.5
lark-parser>=0.12.0
regex>=2022.10.31

# for templates
numpy>=1.23.5
