*
!/.gitignore

!/README.md

################################################################
# Example subfolders
################################################################

!/example_*
!/expected_*
!/example_*/**
!/expected_*/**
!/*/.phpytex.yml
!/*/**/*.tex
!/*/**/*.py

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.DS_Store
/**/__archive__*
/**/sandbox
